*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    flex-wrap: wrap;

}


/* creating font face*/
@font-face 
    {
        font-family: 'futura' ;/* you can add any name*/
        src: url('./futura/futura\ medium\ bt.ttf ');/*the url for the font in the pc*/
    }


/* header css*/
.header
    {
        height: 70px;
        width: 100%;
        background-color:#ffffff ;
        padding:0px 8%;
        display:flex;
        justify-content: space-between;
        color: #590d22;
        /* position:fixed ; */
    }


.logo
    {
        width: 10%;
        height: 70px;
        background-color:#ffffff ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'futura';
        font-weight: bold;
        font-size: 25px;
        
    }


.navigation
    {
        width: 40%;
        height:70px;
        background-color:#ffffff;
        
    }


.nav-links
    {
        width:100%;
        height:70px;
        background-color: #ffffff; 
        display:flex;
        list-style-type: none;
        align-items:center; 
        justify-content: space-between;
        font-family: 'futura';
        padding-inline: 5px;
        font-size: 17px;
       
       
        
    }

i
    {
        font-size: 20px;
    }
a:link
    {
        text-decoration:none;
        /*text-decoration-color: #590d22;*/
        font-family: 'future';
        color: #590d22;
    }
    

a:visited 
    {
        color: #590d22;
        font-family: 'future';
    }

    
.utils
    {
      width: 12%;
      height: 70px;
      background-color: #ffffff;
    }

/* banner css*/
.banner
    {
        width:100%;
        height:700px;
        background-color:#fff0f3;
    }
    

.slide
    {
        width:100%;
        height: 100%;
        /* background-color:black; */
        background-image: url(./images/h1-slide-show-1_1_1.webp);
        /* background-repeat: no-repeat;
        background-size:contain; */
        display: flex;
        align-items: center;
        padding-left: 20%;

       

    }

.slide-details 
    {
        width:27%;
        padding: 40px;
       /* background-color:#ffffff;*/
        color:#590d22;
        font-family: 'futura';
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 25px;
    }

h1
    {
        font-size: 30px;
    }

.btn
    {
        padding:12px 30px;
        background-color: #590d22;
        color:#fff0f3;
        font-family: 'futura';
        border: 2px solid ;
        text-transform: uppercase;
        border-radius: 30px;

    }


    /* featured section css */

.featured
    {
        width: 100%;
        padding:10px 0px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
    }



    
.featured-box-1
    {
        width:33%;
        height:500px;
        background-color: #fff0f3;
        margin-left: 8px;
        position: relative;
    }

.featured-box-1:hover  img ,
.featured-box-3:hover  img,
.featured-box2-box1 :hover img,
.featured-box2-box2 :hover img,
.featured-box2-box3 :hover img
    {
        transform: scale(1.1);
        
    }

.featured-box-2
    {
        width:30%;
        height: 500px;
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

.featured-box2-box1
    {
        width:150%;
        height:200px;
        /* background-color:black; */
        position: relative;           
    }
.featured-box2-box1 img
    {
        width:100%;
        height:100%;
    }


.featured-box2-box2
    {  
        width:50%;
        height:290px;
        /* background-color:black; */
        position: relative;

    }
.featured-box2-box2 img
    {
        width:49.5%;
        height:101%;
    }

.featured-box2-box3
    {
        width:48%;
        height:290px;
        /* background-color:black; */
        position: relative;
        
    }
.featured-box2-box3 img
    {
        width:49.5%;
        height:101%;
        
    }
.featured-box-3
    {
        width:33%;
        height:500px;
        background-color: #ffffff;
        margin-right:8px;
        position: relative;
    }


.bg-image
    {
        width:100%;
        height:100%;
        /* background-color:aqua; */
        overflow: hidden;
        position: absolute;
    }



.bg-image>img 
    {
        width:100%;
        transition: .2s;

    }




.overlay
    { 

        width:100%;
        height:100%;
        /* background-color:blue; */
        display:flex;
        position: absolute;
        padding:5%;
        align-items: flex-end;
        justify-content: center;
    }



.btn-white
    {
        background-color: #590d22;
        border: 1px solid #590d22 ;
        color: #fff0f3;
        position: absolute;
        font-family: 'futura';
        border-radius: 30px;
        width:70%;
        height: 8%;
        z-index: 20;
        text-transform: uppercase; 
    }


/* products css */
.products
    {
        width:100%;
        padding:30px 20%;
        background-color: #ffccd5;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        
    }


.section-title
    {
        font-family: 'futura';
        color:#590d22;
        text-align: center;
        
    }

.products-list
    {
        width:100%;
        padding:20px 0px;
        background-color:#ffccd5 ;

    }

.product
    {
        width:25%;
        height:420px;
        background-color: green;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        font-family: 'futura';
        font-size: 17px;
    }
.product:hover .effect-image
{
    opacity:1;
}

.product-image
    {
        height:370px;
        width:100%;
        background-color: yellow;
        position: relative;
    }

.product-image img  
    {
        width: 100%;
        height:100%
    }
.main-image
    {
        width:100%;
        height:100%;
        background-color: aqua;
        position: absolute;
        
    }
.effect-image
    {
        width:100%;
        height:100%;
        background-color: brown;
        position: absolute;
        /* display: none; */
        opacity: 0;/*transparent*/
        
    }
.overlay-image
    {
        width:100%;
        height:100%;
        /* background-color: purple; */
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* display: none; */
        

    }
.product-name
    {
        margin-left: 20px;
    }





